[Desktop Entry]
Name=CoreMon
Comment=Monitor CPU temperature and load
Exec=coremon
Icon=applications-system
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
